.logo{
    width: 70px;
}

#botonNavbar{
    transition: all 0.3s linear;
}
#botonNavbar:hover{
    color: red;
    transform: rotate(90deg);
}


/* .nav{
    margin: 0 auto;
    padding: 0 50px;
}

.nav-link{
    margin:0 40px;
} */