

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
}

:root{
    --principal: #00ADB5;
    --secundario:#EEEEEE;
    --clickable: #64ffda;
    --cajas: #112240;
    --textoSecundario: #758197;
  }

a{
    text-decoration: none;
    color: var(--clickable);
}

body{
    /* background-image: radial-gradient(100% 100% at 51.34% 0%, #989696 0%, #696868 15.07%, #4B4949 31.54%, #272727 58.45%, #000000 100%); */
    background-color: #000000;
}

.prueba{
    height: 100vh;
}

.contenedor-proyecto{
    width: 100vw;
    height: fit-content;
}

.titulos{
    color: var(--principal);
}

/*--------------------------------------------------------------
# Navbar
--------------------------------------------------------------*/
header{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
}

.navbar{
     display: flex;
     position: relative;
     justify-content: space-between;
     padding: 20px;
     background-color: #000000;
     border-bottom: 1px solid var(--secundario);
}

.linkNavbar{
    display: inline-block;
    position: relative;
    margin: 0px 20px;
    font-size: large;
}

.linkNavbar:hover{
    color: var(--secundario);
}
.linkNavbar:hover .numeroNav{
    color: var(--clickable);
}

.iconos-barra-superior{
    text-decoration: none;
    color: var(--textoSecundario);
    transition: all .3s ease-in-out;
    font-size: 1rem;
    margin-left: 20px;
}

.iconos-barra-superior:hover{
    transform: scale(1.2);
}

.linkNavbar:after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    padding-top: 5px;
    background-color: var(--secundario);
    bottom: 0;
    left: 0;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.linkNavbar:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

.botonNavbar{
    color: var(--secundario);   
    transition: all 0.3s ease-in-out;
}
.botonNavbar:hover{
    transform: rotate(90deg);
}
.fa-xmark{
    color: red;
}

.numeroNav{
    display: inline-block;
    color: var(--secundario);
}


/*--------------------------------------------------------------
# Hero
--------------------------------------------------------------*/

#hero{
    height: 100vh;
    width: 100vw;
    padding: 5% 5% 10% 5%;
    margin-top: 20px;
    z-index: -10;
    overflow: hidden;
    
}
.contenedor-hero{
    width: fit-content;
    overflow: hidden;
    height: 60vh;
    border: 1px solid white;
    border-radius: 4px;
}
.hero-container{
    text-align: center;
}
.hero-container h3{
    color: var(--clickable);
    font-size: 3vw;
}
.hero-container h1{
    color: var(--secundario);
    font-size: 5vw;
    margin: 30px 0px;
}
.hero-container p{
    color: var(--textoSecundario);
    font-size: 1.3vw;
}

#botonContacto{
    width: fit-content;
    height: fit-content;
    border: 3px solid var(--clickable);
    background-color: transparent;
    box-shadow: 3px 5px 3px -2px var(--textoSecundario); 
    transition: all 0.3s ease-out;
    margin: 10px 0px;
    white-space:nowrap;
    padding: 0 2vw;
    font-size: 3vw;
}
#botonContacto:hover{
    color: var(--secundario);
    border: 3px solid var(--clickable);
    background-color: var(--clickable);
    box-shadow: none; 
}

#botonContacto:hover a{
    color: var(--secundario);
}

/*--------------------------------------------------------------
# Proyectos
--------------------------------------------------------------*/

#proyectos{
    height: fit-content;
    padding: 5% 5% 10% 5%;
    width: 100vw;
    overflow: hidden;
}
#contenedor-proyectos{
    display: flex;
    justify-content: center;
    align-items: center;

}

.datos-proyecto{
    height: fit-content;
    text-align: center;
}
.contenedor-caracteristicas p{
    display: inline-block;
    border: 1px solid white;
    font-size: 1vw;
    color: white;
    padding: 10px;
    margin-right: 20px;
    border-radius: 20px;
    min-width: 100px;
    text-align: center;

}
.datos-proyecto p{
    color: var(--textoSecundario);
}

.datos-proyecto h1{
    color: var(--secundario);
    font-size: 2vw;
    margin: 30px 0px;
}
.custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    white-space: nowrap;
  }
  .btn-16 {
    border: none;
    color: #000;
  }
  .btn-16:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow:
     -7px -7px 20px 0px #fff9,
     -4px -4px 5px 0px #fff9,
     7px 7px 20px 0px #0002,
     4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .btn-16:hover {
    color: #000;
  }
  .btn-16:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  .btn-16:active {
    top: 2px;
  }

.imagen-proyecto{
    border: 1px solid var(--secundario);
    box-shadow: 5px 5px 3px var(--textoSecundario);
}

.separador-proyectos{
    background-color: var(--secundario);
    padding: 2px;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

/*--------------------------------------------------------------
# Proyectos Extra
--------------------------------------------------------------*/
#proyectos-secundarios{
    height: fit-content;
    width: 100vw;
    padding: 5% 5% 10% 5%;
    overflow: hidden;
}

#proyectos-secundarios p{
    color: rgb(123, 122, 122);
}

#proyectos-secundarios strong{
    color: rgb(203, 203, 203);
}


/*--------------------------------------------------------------
# Contacto
--------------------------------------------------------------*/
#contacto{
    color: white;
    padding: 5% 10% 10% 5%;
}
.contenedor-contacto{
    border: 1px solid white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 9px 9px 10px whitesmoke;
}
.informacion{
    display: grid;
    place-content: center;
}
.contenedor-datos{
    display: flex;
    justify-content: end;
    padding: 10%;
    width: max-content;
}
.icono-redes{
    font-size: 70px;
    padding-right: 30px;
}
.datos{
    text-align: center;
    display: grid;
    place-items: center;
}

.datos p, .datos h4{
    margin: 0;
}
.datos p{
    white-space: nowrap;
}



/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer{
    height: 50vh;
    width: 100vw;
    display: grid;
    place-content: center;
    grid-auto-columns: 100%;
    padding: 5% 5% 10% 5%;
}


/*--------------------------------------------------------------
# Media Queries
--------------------------------------------------------------*/

@media (max-width:426px)  {


 }
@media (min-width:481px)  { 


}
@media (min-width:641px)  { 


}
@media (min-width:961px)  { 

 }
@media (min-width:1023px) {


 }
@media (min-width:1281px) {

}