/*Fuentes*/
@font-face {
    font-family: Titulo;
    src: url(../recursos/fonts/GeorgiaBallpark\ Serif.otf)
    format("opentype");
  }
@font-face {
    font-family: Subtitulo;
    src: url(../recursos/fonts/SourceCodePro-Regular.ttf);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    outline: none;
}


.logo{
    width: 50px;
    height: 100%;
    position: relative;
    display: inline;
    margin: 0 20px;
}

/*Animacion inicio*/
.intro{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider-intro{
    background: #71837F;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
}

.intro-text{
    color: white;
    text-transform: capitalize;
    text-align: center;
}

.hide{
    background: black;
    overflow: hidden;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;
}

/*Pantalla inicio*/
.principal{
    height: 84vh;
    background-image: url("../recursos/fondo2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.imagen-logo-central{
    width: 60%;
    height: 40%;
    transition: all .5s ease-in-out;
}
.imagen-logo-central:hover{
    transform: scale(1.1);
}

.iconos-barra-superior{
    text-decoration: none;
    color: #71837F;
    transition: all .3s ease-in-out;
    font-size: 1rem;
    margin-left: 20px;
}

.iconos-barra-superior:hover{
    transform: scale(1.2);
}

.nav-linkk{
    margin: 0 20px;
    display: inline-block;
    position: relative;
  
}

.nav-linkk:hover{
  color: black;
}


.nav-linkk:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
.nav-linkk:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
    
}

/*Sobre mi*/
/* about section styling */

 #foto-about{
    transform: rotateY(3.142rad);
 }
#sobre-mi{
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100%;
    width: 100%;
    
     background: linear-gradient(90deg, #F7F4F1 50%, #CCD4C9 50%); 
}

.esconder{
    display: none;
}
/*Boton sobre mi*/

.boton-mas-about {
    padding: 10px;
    border: 2px solid #f7f7f7;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    overflow:hidden;
    transition: .3s;
    color: #5bcaff;
    width: 50%;
    }

    .boton-mas-about:after {
      position: absolute;
      transition: .3s;
      content: '';
      width: 0;
      left: 50%;
      bottom: 0;
      height: 3px;
      background: black;
  
      
      left: 0;
      bottom: auto;
      top: -3px;
      width: 100%;
  
    }
    .boton-mas-about:hover{
      cursor: pointer;
      color: #5bcaff;
    }
    .boton-mas-about:hover:after {
        top: calc(100% - 3px);
      }
  




#contacto{
    height: 100vh;
    background-color: #CCD4C9;
}


#servicios {
    overflow: hidden;
      background-color: #FFF;
      background-size: 700px 700px;  
      background-image:
    radial-gradient(#f0f1ef 30%, transparent 0),
    radial-gradient(#d5e6cf 20%, transparent 0),
    radial-gradient(#e5f7df 10%, transparent 0);
  background-position:
    -200px -20px,
    200px -105px,
    100px 40px;
}


#servicios p{
    color: #71837F;
    font-weight: 200;
    font-family: 'Subtitulo';
}
#servicios h2{
    color: #71837F;
    font-weight: 500;
    font-family: Titulo;
}

.cuerpo-de-texto{
        font-family: 'Montserrat', sans-serif;
}

button a{
    text-decoration: none;
    color: black;
    padding: 9px;
}
button a:hover{
    text-decoration: none;
    color: black;
    padding: 9px;
}

a{
    text-decoration: none;
}


header{
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

nav ul .nav-item a{
    letter-spacing: 3px;
    transition: 0.6s;
    text-decoration: none;
    color: black;
}
nav{
    transition: 0.4s;
    background: white;
    color: black;
}

nav.sticky{
    padding: 5px 0px;
    background: #71837F;
    color: white;
}

nav.sticky .nav-linkk:hover{
    color: white;
  }
  
  
  nav.sticky .nav-linkk:after{
      background-color: white;

  }




.contenedor-principal-datos{
   position: absolute;
   top: 50%;
   transform: translate(0,-50%);
   display: block;
}


.boton-pantalla-principal {		
    width: 600px;
	position: relative;	
    left: 50%;
    transform: translate(-50%,0);
	padding: 1.4rem 0;
	font-size: 1.4rem;
	color: white;
	letter-spacing: 1.1rem;
	text-transform: uppercase;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}

.imagen-carousel1{
    width:  100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
.imagen-carousel2{
    width:  100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
.imagen-carousel3{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}
.carousel-item{
    overflow: hidden;
}

.imagenes-circulo{
    width: 140px;
    height: 140px;
    border-radius:50%;
}

.imagenes-servicios{
    height: 500px;
    width: 500px;
    font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
}


.boton:before, .boton:after {
	content: '';
	position: absolute;	
	transition: inherit;
	z-index: -1;
}

.boton:hover {
	color: black;
	transition-delay: .5s;
}

.boton:hover:before {
	transition-delay: 0s;
}

.boton:hover:after {
	background: white;
	transition-delay: .35s;
}

/* From Top */

.from-top:before, 
.from-top:after {
	left: 0;
	height: 0;
	width: 100%;
}

.from-top:before {
	bottom: 0;	
	border: 1px solid white;
	border-top: 0;
	border-bottom: 0;
}

.from-top:after {
	top: 0;
	height: 0;
}

.from-top:hover:before,
.from-top:hover:after {
	height: 100%;
}

/*Fin animacion boton hover*/

.boton-contactar{
    background: transparent;

	position: relative;	
    transform: translate(-50%,0);
	padding: 10px;
	color: black;
	text-transform: uppercase;
	transition: all 500ms cubic-bezier(0.77, 0, 0.175, 1);	
	cursor: pointer;
	user-select: none;
}

.titulo{
    /*Hacer resizeable*/
    color: white;
    font-size: 4vw;
    letter-spacing: 2px;
    font-weight: 700;
}
.numero-colegiado{
    color: white;
    font-size: 2vw;
}

.row{
    position: relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card-body{
    background-color: blanchedalmond;
}

.card{
    height: 200px;
    transition: all .3s ease;

}

.botones{
    /* Margin responsive */
    margin-top: 20px;
}

.botones button{
    width: 170px;
}

.fila-contacto{
    height: 100vh;
    padding-top: 10vh;
}


/*Style form contact*/

.textos-form{
    font-size: 1.5rem;
}



.titulos-form{
    margin-bottom: 20px;
    text-align: center;
    font-size: 35px;
    color: white;
}


.boton-contacto-email, .boton-contacto-whatsapp{
    width: 300px;

}
.boton-contacto-email{
    border-color: rgb(250, 31, 31);
    color: red;
}
.boton-contacto-whatsapp{
    border-color: #04AA6D;
    color: green;
}

/*Formulario Whastapp*/
.formulario {
   
    width: 650px;
    max-width: 100%;
    margin-top: 30px;
    padding: 20px;
    position: relative;
    background: white;
    transition: all 1s ease-in-out;
  }

  .formulario:hover{
      box-shadow: -15px 15px 5px -2px #939991; 
  }
  
  .imgLogo {
    width: 100px;
    height: 100px;
    border-radius: 150px;
    display: block;
    margin: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    /*border: 1px solid rgba(109, 86, 10, 0.7);*/
  }
  
  .formulario__titulo,
  .formulario__subtitulo,
  .formulario__parrafo {
    text-align: center;
    margin-top: 0;
  }
  .formulario__titulo,
  .formulario__subtitulo {
    color: rgba(0, 0, 0, 0.7);
  }
  .formulario__parrafo {
    color: rgba(0, 0, 0, 0.5);
  }
  .formulario__input,
  .formulario__label {
    display: block;
    width: 100%;
    font-size: 1, 3em;
  }
  .formulario__input {
    padding: 10px;
    background: transparent;
    /* puedo colocar otro color pero con transparencia asi: background: rgba(0,0,0,0.1) porque sino no se ven las label, aunque ya no es necesario porque ya no estan sobre los input y ademas le quite el z-index*/
    border: 1px solid rgba(0, 0, 0, 0.3);
    margin-bottom: 15px;
    border-radius: 10px;
  }
  .formulario__input:focus {
    /*outline: 1px solid rgba(0,0,0,0.7);*/
    outline: none;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.7);
  }
  /*.formulario__input:focus + .formulario__label{
      margin-top: -120px;
  }*/
  .formulario__label {
      border-radius: 10px;
    padding-left: 15px;
    /*position: absolute;*/
    /*margin-top: -78px;*/
    /*z-index: -20;*/
    color: rgba(0, 0, 0, 0.7);
    /*transition: all 0.2s;*/
    margin: 2px;
  }
  .formulario__submit {
    background: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    border-radius: 20px;
    display: block;
    width: 50%;
    font-size: 1, 3em;
  }
  
  /*Centrar los campos del formulario (Los input y el boton de Enviar al WhatsApp, que tambien es un input)*/
  
  .formulario__input,
  .formulario__submit {
    margin-left: auto;
    margin-right: auto;
  }
  
  /*.fijar {
      margin-top: -120px;
  } */
  
  /* respuesta del formulario */
  #respuesta {
    width: 100%;
    height: 50px;
    margin: 5px;
    padding: 5px;
  }
  #respuesta.fail {
    color: red;
  }
  #respuesta.send {
    color: green;
  }


  /*Fondos*/
  .dot1-princ {
    height: 300px;
    width: 300px;
  }
.dot2-princ {
    height: 250px;
    width: 250px;
  }
  .dot3-princ{
    height: 350px;
    width: 350px;
  }
 .dot4-princ {
    height: 200px;
    width: 200px;
  }

  .dot{
      background-color: #D3C0A7;
      border-radius: 50%;
      display: inline-block;
      position: relative;
      transform: translateX(-120%);
  }
  .imagenPrincipal{
    position: absolute;
    bottom: 0px;
    right: 0;
    height: 90vh;  
  }

  #titulo-sobre-mi{
    display: block;
    margin-top: 85px;
    letter-spacing: 4px;
}
  
.download-btn{
    position: fixed;
    bottom: 40px;
    right: 40px;
    z-index: 99999;
   
  }
  .download-btn a{
    background: none;
    padding: 13px 22px;
    font-size: 16px;
    color: green;
    border-radius: 6px;
    border: 2px solid green;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease-in-out;
   
  }
  .download-btn a:hover{
      color: #ffffff;
      background: green;
  }

  #link-whatsapp-subtitulo{
    color: green;
    display: inline-block;
  position: relative;
  }

  #link-whatsapp-subtitulo:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: green;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}
#link-whatsapp-subtitulo:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
}

/*Fondo servicios*/




.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
}

.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 25s linear infinite;
    bottom: -150px;
    
}

.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}


.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}

.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}

.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}

.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}

.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}

.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}

.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}

.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}

.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}



@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 50%;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}



  @media screen and (max-width: 600px){
      .download-btn{
          right: 20px;
      }
      .download-btn a{
          font-size: 13px;
          padding: 9px 15px;
      }
      .imagen-carousel1{
        width:  200%;
    
    }
  }

@media (max-width: 768px) { 
    .boton-pantalla-principal {		
        width: 300px;
        margin-top: 20px;
        padding: 1.4rem 0;
        font-size: 1rem;
        letter-spacing: 3px;
    }
    .nav-linkk{
        margin-top: 20px;
    }
    .imagen-logo-central{
        width: 80%;
        height: 35%;
    }
    .boton{
        text-align: center;
        width: 90%
    }
    #contacto{
        height: 200vh;
        overflow: hidden;
    }
}


@media (min-width: 768px) {
    .imagenes-servicios-lg{
        font-size: 3.5rem;
    }
 }

@media (min-width: 992px) {
    .imagen-logo-central{
        width: 50%;
        height: 50%;
    }
    .rounded-lg-3 { border-radius: .3rem; }
 }

@media (min-width: 1200px) { 
    .imagen-logo-central{
        width: 30vw;
        height: 35%;
    }
}

@media (min-width: 1400px) { 

 }

