*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}


<<<<<<< HEAD


=======
>>>>>>> 58c497c336bc006090cd1c1bb225d2c0b6f3e047
.intro{
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider{
    background: #71837F;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2000;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(100%);
}

.intro-text{
    color: white;
}

.hide{
    background: black;
    overflow: hidden;
}

.hide span{
    transform: translateY(100%);
    display: inline-block;
}

.principal{
    min-height: 90vh;
    width: 100px;
    background: #71837F;
    overflow: hidden;
}
#sobre-mi{
    height: 100vh;
    background-color: blue;
}
#contacto{
    height: 100vh;
    background-color: darkgoldenrod;
}
#servicios{
    height: 100vh;
    background-color: red;
<<<<<<< HEAD
    
=======
>>>>>>> 58c497c336bc006090cd1c1bb225d2c0b6f3e047
}

button a{
    text-decoration: none;
    color: black;
    padding: 9px;
}

a{
    text-decoration: none;
}

header{
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}
nav ul li a{
    letter-spacing: 3px;
    transition: 0.6s;
    text-decoration: none;
    color: black;
}
nav{
    transition: 0.4s;
    background: white;
}

nav.sticky{
    padding: 5px 0px;
    background: #71837F;
}

.imagenPrincipal{
    transform: rotateY(180deg);
    width: 100%;
    position: relative;
    top: 40vh;
    height: 60vh;
}

.contenedor-principal-datos{
   position: absolute;
   top: 30%;
}

.boton-contactar{
    background: #fff;
    border-radius: 20px;
}

.titulo, .numero-colegiado{
    color: white;
    font-size: 4vw;
}

.row{
    position: relative;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
}

<<<<<<< HEAD
.botones-swiper{
    position: relative;
    bottom: 0px;
    left: 0;
    width: 100%;
    z-index: 20;
}
=======
.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 300px;
    height: 300px;
    background: black;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
  }
>>>>>>> 58c497c336bc006090cd1c1bb225d2c0b6f3e047
