<nav id="navbar">
    <a href="#"><img src="../../assets/logo-power-white.svg" alt="logo-nav" id="logo-nav" class="linkNavbar animate__animated animate__flash"></a>
    <ul class="contenedor-links-navbar">
        <li><a href="#" class="linkNavbar animate__animated animate__flash">About us</a></li>
        <li><a href="#" class="linkNavbar animate__animated animate__flash">Services</a></li>
        <li><a href="#" class="linkNavbar animate__animated animate__flash">Products</a></li>
        <li><a href="#" class="linkNavbar animate__animated animate__flash">Contact</a></li>
    </ul>
</nav>