*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    box-sizing: content-box;
}

a{
    text-decoration: none;
}


body{
    margin: 0;
    display:flex; 
    flex-direction:column; 
    height: 100vh;
    background-color: black;
}

.imagenes-datos{
    margin-top: 30px;
}


h2 b{
    font-size: 3rem;
    font-family: 'Allerta Stencil', sans-serif;
}

h4 b{
    font-size: 1.5rem;
}


p{
    font-size: 1.5rem;
}

.form-group{
    margin-top: 30px;
}

h2, .fas{
    background-image: url(https://i.makeagif.com/media/12-21-2015/UPuNC9.gif);
    background-size: cover;
    color: transparent;
    -moz-background-clip: text;
    -webkit-background-clip: text;
    text-transform: uppercase;
    font-size: 120px;
    line-height: .75;
    margin: 10px 0;
  }
