*{
    margin:0;
    padding:0;
    font-size: 16px;
    box-sizing: border-box;
}


.card{
    height: 350px;
    transition: all .3s ease;

}

.card:hover{
    transform: scale(
        1.1
    );
    z-index: 2;

}


a img{
    height: auto;
}

img{
    height: 250px;
}

.card-body{
    width: auto;

}

.modal-tuto {
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all .3s ease-out;
}

.open{
    opacity: 1;
    pointer-events: all;
}

.full-img.open{
    transform: translate(-50%,-5%) scale(1);
}

.modal-tuto p{
    color: white;
    font-size: 20px;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,-5%);
}

.full-img{
    position: absolute;
    height: 60%;
    top: 15%;
    left: 50%;
    transform: translate(-50%,-5%) scale(0.5);
    transition: all .3s ease-out;
}

.boton-ver{
    margin-top: 10px;
}

.titulo-1, .titulo-2{
    color: aqua;
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 10%, #000 80%, rgba(0,0,0,.6) 90%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
}

.titulo-2{
    color: white;
}
 
@-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
}

.loader-wrapper {
    z-index: 200;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: black;
      display:flex;
      justify-content: center;
      align-items: center;
      
    }
    .loader {
      
      display: inline-block;
      width: 30px;
      height: 30px;
      position: relative;
      border: 4px solid #Fff;
      animation: loader 2s infinite ease;
    }
    .loader-inner {
      vertical-align: top;
      display: inline-block;
      width: 100%;
      background-color: #fff;
      animation: loader-inner 2s infinite ease-in;
    }
    @keyframes loader {
      0% { transform: rotate(0deg);}
      25% { transform: rotate(180deg);}
      50% { transform: rotate(180deg);}
      75% { transform: rotate(360deg);}
      100% { transform: rotate(360deg);}
    }
    @keyframes loader-inner {
      0% { height: 0%;}
      25% { height: 0%;}
      50% { height: 100%;}
      75% { height: 100%;}
      100% { height: 0%;}
    } 
