*{
    margin: o;
    padding: 0;
    box-sizing: border-box;
}

section{
    padding: 50px;
    background-color: black;
}

section h2{
    font-size: 2.5em;
    color: white;
}

section p{
    font-size: 1.2em;
    color: white;
}

::-webkit-scrollbar{
    width: 0;
}

#scrollPath{
    z-index: 1003;
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 100%;
    background: rgba(255,255,255,0.05);
}

#progressbar{
    z-index: 1001;
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    background: linear-gradient(to top, #008aff, #00ffe7);
    animation: animate 5s linear infinite;
}

@keyframes animate {
    0%,100%{
        filter: hue-rotate(0deg);
    }
    50%{
        filter: hue-rotate(360deg);
    }
}

#progressbar::after{
    z-index: 1002;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top, #008aff, #00ffe7);
    filter: blur(30px);
}