*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

nav{
    margin-top: 10px;
}
a{
    text-decoration: none;
    color: black;
    padding-right: 10px;
    letter-spacing: 2px;
    font-size: 1.3rem;
}

#principal{
    height: 100vh;
    background: blue;
    overflow: hidden;
}

#sobre-mi{
    background: red;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#sevicios{
    height: 100vh;
    background: yellow;
}

#contacto{
    height: 100vh;
    background: pink;
}

